body {
	background-color: #64F58D;
	
}

.container {
	display: flex;
	background-color: green;
	flex-direction: column;
	position: relative;

}

.title {
	font-family: 'Luckiest Guy', cursive;
	font-weight: bold;
	text-align: center;
	font-size: 100px;
	color: red;
	text-shadow: 4px 4px rgb(0, 0, 0);
	text-decoration: underline; 
	text-underline-position: under;
}

.button, a {
	width: 20%;
	align-self: center;
	height: 50px;
	background-color: blue;
	font-size: 20px;
	color: yellow;
}

.instructions {
	width: 70%;
	align-self: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

p {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	flex-grow: 0;
}

.smileface1 {
	width: 100px;
	height: 100px;
	background-image: url("../assets/Images/coolFace.png");
	background-size: 100px;
	margin-right: 100px;
		
}

.sadface1 {
	width: 100px;
	height: 100px;
	background-image: url("../assets/Images/sadFace.png");
	background-size: 100px;
	margin-left: 100px;
	margin-bottom: 100px;


}

.sadface2 {
	width: 100px;
	height: 100px;
	background-image: url("../assets/Images/sadFace.png");
	background-size: 100px;
	margin-left: 100px;


}

h2 {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 40px;
	text-align: center;

}

.winimage {
	text-align: center;
}

span {
	color: yellow;
}	

h1 {
	text-align: center;
	font-size: 60px;
	margin-top: 10px;
	height: 100px;
	font-family: 'Luckiest Guy', cursive;
	font-weight: bold;
	color: red;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
	text-decoration: underline; 
	text-underline-position: under;
}

.game {

	display: flex;
	justify-content: center;

}
.gamefield {

	width: 1100px;
	height: 400px;
	background-color: green;
	position: relative;
	align-self: center;
	box-shadow: 3px 3px black;
}

.smileface {
	width: 100px;
	height: 100px;
	background-image: url("../assets/Images/coolFace.png");
	position: absolute;
	background-size: 100px;

}

.sadface {
	width: 100px;
	height: 100px;
	background-image: url("../assets/Images/sadFace.png");
	position: absolute;
	background-size: 100px;
	align-self: flex-end;
}

.target {
	width: 100px;
	height: 100px;
	background-image: url("../assets/Images/home.png");
	position: absolute;
	background-size: 100px;
	align-self: flex-end;
}


